Source: pardus-night-light
Section: x11
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-night-light

Package: pardus-night-light
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         gir1.2-ayatanaappindicator3-0.1,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         python3-distro,
         redshift
Description: Pardus Night Light.
 Simple color temperature application based on Redshift.
 Redshift adjusts the color temperature of your screen
 according to your surroundings. This may help your eyes
 hurt less if you are working in front of the screen at night.
