@define-color ORANGE_100 #FFDFBB;
@define-color ORANGE_500 #F06A1D;
/*
@define-color ORANGE_100 #ffc27d;
@define-color ORANGE_500 #f37329;
*/
@define-color base_color white;
@define-color bg_color shade (@base_color, 0.96);


scale highlight {
   color:transparent;
   background-color:transparent;
   border-style:none;
   background-image:none;
}

scale trough {
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: linear-gradient(to right, mix(@bg_color, @ORANGE_100, 0.5), @ORANGE_500);
}

.low-label{
    background-color: #FFF4E5;
    border-radius: 8px;
}

.medium-label{
    background-color: #FFD1A3;
    border-radius: 8px;
}

.high-label{
    background-color: #FF9F46;
    border-radius: 8px;
}
